html,
body {
    margin: 0;
    padding: 0;
    background: #20232a;
    background-image: url("background.webp");
    background-position: center;
    background-size: cover;
}

/* Main Content */
.main_content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    gap: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.center_content {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}

/* Article Box */
.articlebox {
    border-radius: 6px;
    backdrop-filter: blur(10px);
    width: 25%;
    overflow: hidden;
    background-color: rgba(32, 35, 42, 0.8);
    padding: 10px;
    box-sizing: border-box;
}

.articlebox-column {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-color: white rgba(255, 255, 255, 0.2);
    scrollbar-width: thin;
    gap: 4px;
}

#articlebox-center {
    width: 100%;
    height: 60%;
}

#articlebox-preview {
    width: 100%;
    height: 40%;
}

/* Articles */
.article {
    display: flex;
    flex-direction: row;
    padding: 4px;
    background-color: rgba(73, 143, 73, 0.6);
    border-radius: 2px;
}

.article.fresh {
    background-color: rgba(73, 143, 73, 0.6);
}

.article.saved {
    background-color: rgba(148, 130, 58, 0.6);
}

.article.archived {
    background-color: rgba(143, 82, 82, 0.6);
}

.article-link {
    color: white;
    font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    width: 100%;
}

.article-link:visited {
    color: hsl(240, 8%, 65%);
}

.article-date {
    color: white;
    font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    margin-left: 12px;
    margin-right: 6px;
    white-space: nowrap;
    text-decoration: none;
}

.article-icon {
    height: 16px;
    width: 16px;
}
