html,
body {
    margin: 0;
    padding: 0;
    background: #20232a;
    background-image: url("background.webp");
    background-position: center;
    background-size: cover;
}

/* Main Content */
.main_content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.center_content {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}

/* Article Box */
.articlebox {
    border-radius: 10px;
    backdrop-filter: blur(6px);
    width: 25%;
    overflow: hidden;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(230, 230, 230);
}

.articlebox-column {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-color: rgb(42, 42, 42) transparent;
    scrollbar-width: thin;
}

.articlebox.center {
    width: 100%;
    height: 60%;
}

.articlebox.saved {
    background-color: #94823ad0;
}

.articlebox.fresh {
    background-color: #498f49d0;
}

.articlebox.archived {
    background-color: #8f5252d0;
}

.articlebox.preview {
    width: 100%;
    height: 40%;
    background-color: #3b3b52d0;
}

/* Feeds */
.feed-link {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    text-decoration: none;
    width: 100%;
}

.feed-link:visited {
    color: lightblue;
}

.feed-date {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 0.5rem;
    margin-left: 0.5rem;
    text-decoration: none;
}

.feed-date:visited {
    color: lightblue;
}

.feed-icon {
    margin-left: 0.5rem;
    height: 100%;
}